.sc-gueYoa {
  background-color: transparent !important;
  padding: 0 !important;

  * {
    background-color: transparent !important;
    font-family: 'Source Code Pro' !important;
    padding: 0 !important;
  }

  .sc-beqWaB {
    display: none;
  }
}